/*highlight color pink: #E90076*/

/*reset*/
body {
  margin: 0;
  font-family: sans-serif; /* pick a better font */
  color: white;
  background-color: #000;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: white; /* #aaa and white when active */
  text-decoration: none;
}

/*app*/
.main--app {
  display: flex;
}

/*welcome*/
.h1--welcome {
  padding: 20px;
}
.p--welcome {
  padding: 20px;
  text-align: center;
}

.button--welcome, .a--welcome {
  padding: 10px 40px;
  border-style: none;
  background-color: #E90076;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  position: relative;
}
.button--welcome:hover, .a--welcome:hover {
  background-color: #e8318e;
}

.input--welcome-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.div--welcome-buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #444;
}

.div--welcome-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*sidebar*/
.aside--sidebar {
  width: 200px;
  padding: 24px;
}

.li--type {
  padding: 8px 0;
  font-size: 14px;
}

.button--new {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  padding: 8px 0;
  color: inherit;
}

/*main*/
.section--content {
  width: calc(100vw - 200px);
  background-image: linear-gradient(to bottom right, #333, #0a0a0a 600px);
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.h1--main {
  font-size: 48px;
  padding-bottom: 24px;
}

.h2--main {
  font-size: 24px;
  padding-bottom: 18px;
}

/*search*/
.input--search {
  border: none;
  padding: 4px 16px;
  border: 1px solid grey;
  border-radius: 16px;
  box-sizing: border-box;
  width: 250px;
}

.nav--search {
  padding: 8px 0;
  position: relative;
}

.ul--search-results {
  position: absolute;
  background-color: #333;
  box-sizing: border-box;
  width: 250px;
}

.li--search-result {
  display: flex;
}
.li--search-result:hover {
  background-color: #555;
}

.li--song-result {
  padding: 16px 8px;
  cursor: pointer;
}

.li--search-result-header {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 4px;
}

.a--search-result {
  padding: 16px 8px;
  width: 100%;
}

/*full search page*/
.li--full-search-result-header {
  background-color: #333;
  padding: 8px 0;
}

.li--full-song-result, .a--full-search-result {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.li--full-search-result:hover {
  background-color: #222;
}

.a--full-search-result {
  width: 100%;
  /*box-sizing: border-box;*/
}

.li--full-artist-result, .li--full-album-result {
  display: flex;
}

/*artist*/
.p--monthly-listens {
  font-size: 12px;
  float: right;
}

.li--song-list {
  padding: 16px;
  border-top: 1px solid grey;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li--song-list:hover {
    background-color: #333;
}

.button--add-to-queue {
  padding: 5px 10px;
  background-color: #0a0a0a;
  color: #ccc;
  border-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.button--add-to-queue:hover {
  background-color: #333;
}

/*artists*/
.ul--block-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.li--block-list {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #333;
  border-radius: 75px;
  margin: 15px;
  margin-bottom: 45px;
  cursor: pointer;
}
.li--block-list:hover {
    background-color: #555;
}

.a--artist-name-in-list, .a--album-name-in-list, .a--playlist-name-in-list {
  position: absolute;
  top: 0px;
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
  padding-top: 160px;
}

/*albums*/
.li--albums-list {
  border-radius: 15px;
}

/*player bar*/
.footer--player {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #222;
}

/*player song info*/
.aside--player-song-info {
  min-width: 200px;
  max-width: 250px;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img--player-img {
  width: 75px;
  height: 75px;
}

/*player controls*/
.section--player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%);
  justify-content: center;
}

.aside--player-other-controls {
  min-width: 200px;
  max-width: 250px;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button--player-control {
  width: 45px;
  height: 45px;
}

.div--player-progress-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.div--player-controls {
  display: flex;
  flex-direction: row;
}

/*player progress bar*/
.div--player-progress-bar {
  height: 5px;
  width: 200px;
  background-color: grey;
  border-radius: 5px;
}

.p--player-current-time {
  min-width: 50px;
  text-align: center;
}

.p--player-total-time {
  min-width: 50px;
  text-align: center;
}

/*volume and queue controls*/
.button--player-add-to-queue {
  width: 30px;
  height: 30px;
  position: relative;
}

.ul--current-queue {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0px;
  flex-direction: column;
  background-color: #555;
  color: #ccc;
  width: 200px;
  font-size: 14px;
}
.button--player-add-to-queue:hover .ul--current-queue {
  display: flex;
}

.div--player-volume-bar {
  width: 100px;
  height: 5px;
  background-color: grey;
  border-radius: 5px;
  display: none;
}
